.PhotoPageBackground {
  background-color: rgb(34, 34, 34);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100vw;
  height: 90vh;
}

.MainPhoto {
  max-height: 650px;
  max-width: 1050px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: white 5px solid;
}


.PhotoPageUserInfo {
  display: flex;
  align-items: center;
}

.SinglePhotoProfilePic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: aliceblue;
}
