/* TODO Add site wide styles */
body {
  overflow: hidden;
  /* position: relative; */
  /* left: 0;
  top: 0; */
  margin: 0;
  /* margin: 0px; */
  /* overflow-y: hidden; */
  min-width: 98.5vw;
  min-height: 99.5vh;
}

.Footer {
  position: fixed;
  bottom: 0;
  height: 5vh;
  width: 100vw;
  background-color: black;
  /* z-index: -100; */
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
